{% extends "!layout.html" %}

{% block extrahead %}
   <meta name="msvalidate.01" content="D5A5909342D175ECDD7E4665C7D97FAF" />
    <meta name="google-site-verification" content="j4hCo0t6GR5vApCuqjSQO_x2QhciBBRdhTPTHbTvUuI" />
    <meta name="description" content="Learn how to activate My5 TV on your Smart TV or streaming device. Visit my5.tv/activate, enter the code, and start watching Channel 5, 5USA, and more. Free UK TV made easy!" />
    <meta name="keywords" content="my5.tv/activate, My5 activation, activate My5 TV, Channel 5 live streaming, UK TV online, My5 Smart TV setup" />
    <meta name="robots" content="index, follow" />
    <title>How to Activate My5 TV at my5.tv/activate – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
